<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Ny Amagerbro", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">

                <!-- Single button for amagerbro -->
                <div class="btn-group">
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Butikker på amagerbro <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Tøj", "Index", "AmagerbroClothes")</li>
                        <li>@Html.ActionLink("Elektronik", "Index", "AmagerbroElectronics")</li>
                        <li>@Html.ActionLink("Mad & drikke", "Index", "AmagerbroFood")</li>
                    </ul>
                </div>

                <!-- Single button for amagercentret -->
                <div class="btn-group">
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Butikker i amagercentret <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Tøj", "Index", "AmagercentretClothes")</li>
                        <li>@Html.ActionLink("Elektronik", "Index", "AmagercentretElectronics")</li>
                        <li>@Html.ActionLink("Mad & drikke", "Index", "AmagercentretFood")</li>
                    </ul>
                </div>

                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Om os", "About", "Home")</li>
                    <li>@Html.ActionLink("Find amagerbro på kortet", "GoogleMaps", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

@*Here we use the code for our Google maps.
    We use our api key which comes from Google developer site to get access to the google maps. *@
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDPE8Roq_bEMJ0aY8-np4g6zumE5-iOKeg&sensor=false"></script>
<script type="text/javascript">

   $(document).ready(function () {
     initialize();
   });
   function initialize() {
     var mapOptions = {
         center: new google.maps.LatLng(55.663182, 12.6026252),
       zoom: 17,
       mapTypeId: google.maps.MapTypeId.ROADMAP
     };
     var map = new google.maps.Map(document.getElementById("map_canvas"),
       mapOptions);
     // code to create a marker on our google maps
     //var latlng = new google.maps.LatLng(55.663182, 12.6026252);
     //var marker = new google.maps.Marker({
     //  position: latlng,
     //  map: map,
     //  title: 'My Place'
     //});
   }
</script>
