@model NyAmagerbroProj.Models.AmagercentretStore.AmagercentretClothes

@{
    ViewBag.Title = "Delete";
}

<h2>Slet butik?</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Navn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Navn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Addresse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Addresse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Åbningstider)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Åbningstider)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefon)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Tilbage til tøj butikker", "Index")
        </div>
    }
</div>
