@model IEnumerable<NyAmagerbroProj.Models.AmagercentretStore.AmagercentretClothes>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "AmagercentretClothes", FormMethod.Get))

{
    <div>
        @Html.TextBox("SearchString", null, new { @class = "col-xs-6 col-sm-4", placeholder = "Search..." })
    </div>

    <div>
        <input type="submit" class="btn btn-warning btn-sm" value="Search" />
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Navn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Addresse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Åbningstider)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefon)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Navn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Addresse)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Åbningstider)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefon)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
